# IntelliJ
.idea/
.idea
*.iml

# Application Logs
logs/

# Mac OS X
.DS_Store

# SBT
.sbt_completion_cache
.sbtserver
.sbtopts
project/.sbtserver
project/.sbtserver.lock
project/boot/
project/plugins/project
project/sbt-ui.sbt
target/
/.project
.idea/vcs.xml
.idea/scala_compiler.xml
.idea/modules.xml
.idea/vcs.xml
.idea/scala_compiler.xml
.idea/modules.xml

